{%extends 'layout.html'%}

{%block content%}
{% for content in data.contents %}
<section class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span>
        时间：<span class="colInfo">{{content.addTime | date('Y-m-d',-8*60)}}</span>
        阅读：<span class="colInfo">{{content.views}}</span>
        评论：<span class="colInfo">{{content.comments.length}}</span>
    </p>
    <dfn>
        <p>{{content.description}}</p>
    </dfn>
    <div class="function"><a href="/view/?contentid={{content.id}}">阅读全文</a></div>
</section>
{% endfor %}

{% if data.count > 0 %}
<div class="pager">
    <ul class="clear">
        {% if data.page <= 1 %}
        <span class="previous">没有上一页</span>
        {% else %}
        <li class="previous"><a href="/?category={{data.category}}&page={{data.page - 1 }}">上一页</a></li>
        {% endif %}
        <li><strong>{{data.page}} / {{data.pages}}</strong></li>
        {% if data.page >= data.pages %}
        <span class="next">没有下一页</span>
        {% else %}
        <li class="next"><a href="/?category={{data.category}}&page={{data.page + 1 }}">下一页</a></li>
        {% endif %}
        <!--<li class="next"><a href="/?page={{data.page + 1}}">下一页</a></li>-->
    </ul>
</div>
{% endif %}
{%endblock%}